################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/conversor/GeraWebP.csproj.user
/src/.vs/conversor/config/applicationhost.config

src/.idea/

src/conversor/wwwroot/convertidos/

src/conversor/wwwroot/uploads/

src/conversor/wwwroot/images/
/.vs/gerawebp/FileContentIndex/12adc319-4870-4107-a639-5551626bcd9a.vsidx
/.vs/gerawebp/FileContentIndex/46c595af-8c47-43dc-b112-6b8527bcf1dc.vsidx
