@{
    ViewBag.Title = "Gerar WebP";
}
<div id="container">

    <div class="box-login">
        <h1>Olá!</h1><p>Converta seu arquivo aqui!</p>
        <div class="box">
            
            <form asp-action="Converter" asp-controller="Home" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div>
                    <label style=" color: blue;" for="arquivos">Carregue suas imagens:</label>
                    <input style=" color: blue;" type="file" name="arquivos" id="arquivos" multiple="multiple" class="form-control" />
                </div>
               
                <br />
                <div>
                    <label style=" color: blue;" for="qualidade">Selecione a Qualidade:</label>
                    <input style=" color: blue;" type="range" name="qualidade" id="qualidade" class="form-control-range" value="75" min="0" max="100" oninput="atualizarValorDaQuantidade(this.value)" />
                    <span style=" color: blue;" id="qualidadeValue">75</span>%
                </div>
                
                <br />
                <div>
                    <label style=" color: blue;" for="maxWidth">Largura Máxima (px):</label>
                    <input style=" color: blue;" type="number" name="maxWidth" id="maxWidth" class="form-control" value="1920" min="100" max="4000" />
                </div>
                
                <br />
                <div>
                    <label style=" color: blue;" for="maxHeight">Altura Máxima (px):</label>
                    <input style=" color: blue;" type="number" name="maxHeight" id="maxHeight" class="form-control" value="1080" min="100" max="4000" />
                </div>
                
                <br />
                <div>
                    <label style=" color: blue;">
                        <input type="checkbox" name="manterProporção" value="true" checked="checked" />
                        Manter proporção da imagem
                    </label>
                    <input name="manterProporção" type="hidden" value="false" />
                </div>
                
                <br />
                <div>
                    <button style="margin-left:110px;"  type="submit" class="btn btn-primary">Gerar WebP</button>
                </div>


                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @foreach (var item in ViewData.ModelState.Values)
                        {
                            @foreach (var error in item.Errors)
                            {
                                <p>@error.ErrorMessage</p>
                            }
                        }
                    </div>
                }

                
                <br />
                <div class="progress">
                    <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <br />
                
                @if (ViewBag.DownloadLink != null)
                {
                    <a style="margin-left:110px;" type="button" href="@ViewBag.DownloadLink">Baixar Arquivos Convertidos</a>
                }

                <br />
                

                <br />



            </form>
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {

                <div class="alert alert-info" role="alert">@ViewBag.Message</div>


            }
        </div>
    </div>
</div>

