<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>


<script>
    document.getElementById('arquivos').addEventListener('change', function(event) {
        var validTypes = ['image/jpeg', 'image/jpg', 'image/png', 'image/gif'];
        for (var i = 0; i < this.files.length; i++) {
            if (!validTypes.includes(this.files[i].type)) {
                alert('Somente são permitidos arquivos de imagem.');
                this.value = ''; 
                break;
            }
        }
    });
</script>

<script>
    function atualizarValorDaQuantidade(value) {
        document.getElementById('qualidadeValue').textContent = value;
    }
</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>

    <script type="text/javascript">
        var connection = new signalR.HubConnectionBuilder().withUrl("/progressHub").build();
        connection.on("ReceiveProgress", function (progress) {
            var progressBar = document.getElementById("progress-bar");
            if (progressBar) {
                progressBar.style.width = progress + "%";
                progressBar.setAttribute("aria-valuenow", progress);
                document.getElementById("progressContainer").style.display = 'block';
            }
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>



    <script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
